<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>126066389765-n3jc5br6oi018v1t1c875e92mev15s3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126066389765-n3jc5br6oi018v1t1c875e92mev15s3m</string>
	<key>API_KEY</key>
	<string>AIzaSyAfsms7CFiFFGrSUBtsWnIQ0O78-MWtRf4</string>
	<key>GCM_SENDER_ID</key>
	<string>126066389765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RainbowRaccoonz.TCSandbox</string>
	<key>PROJECT_ID</key>
	<string>tcsandbox-b0605</string>
	<key>STORAGE_BUCKET</key>
	<string>tcsandbox-b0605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:126066389765:ios:b3af3f25ff653fd9</string>
	<key>DATABASE_URL</key>
	<string>https://tcsandbox-b0605.firebaseio.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1067079010045072</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1067079010045072</string>
	<key>FacebookDisplayName</key>
	<string>TCSandbox</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
	</array>
</dict>
</plist>
